<% if flash.notice %>
  <div class="notification is-info is-radiusless js-flash">
    <button class="delete is-centered"></button>
    <%= flash.notice %>
  </div>
<% end %>

<% if flash.alert %>
  <div class="notification is-danger is-radiusless js-flash">
    <button class="delete is-centered"></button>
    <%= flash.alert %>
  </div>
<% end %>
