<% if notice %>
  <div class="notification is-warning js-flash">
    <button class="delete"></button>
    <%= notice %>
  </div>
<% end %>

<section class="mt-2">
  <% if @postable %>
    <%= render 'posts/form', post: @post, postable: @postable %>
  <% end %>

  <% @posts.each do |post| %>
   <%= render 'posts/shared/post', post: post, postable: @postable %>
  <% end %>
</section>

<br>
<%= link_to 'New Post', new_polymorphic_path([@postable, Post]) %>
