<% if notice %>
  <div class="notification is-warning js-flash">
    <button class="delete"></button>
    <%= notice %>
  </div>
<% end %>

<article class="media" style="margin-top: 2em;">
  <figure class="media-left">
    <p class="image is-64x64">
      <img src="<%= current_user.gravatar_url(256) %>">
    </p>
  </figure>
  <div class="media-content">
    <div class="field">
      <p class="control">
        <textarea class="textarea" placeholder="Add a comment..."></textarea>
      </p>
    </div>
    <nav class="level">
      <div class="level-left">
        <div class="level-item">
          <a class="button is-info">Submit</a>
        </div>
      </div>
      <div class="level-right">
        <div class="level-item">
          <label class="checkbox">
            <input type="checkbox"> Press enter to submit
          </label>
        </div>
      </div>
    </nav>
  </div>
</article>

<% @posts.each do |post| %>
 <%= render 'posts/shared/post', post: post, postable: @postable %>
<% end %>

<br>

<%= link_to 'New Post', new_polymorphic_path([@postable, Post]) %>
